<div class="bg-white h-screen">
  <div>
    <div class="relative isolate px-6 pt-8 lg:px-8">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div
          class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
          style="
            clip-path: polygon(
              74.1% 44.1%,
              100% 61.6%,
              97.5% 26.9%,
              85.5% 0.1%,
              80.7% 2%,
              72.5% 32.5%,
              60.2% 62.4%,
              52.4% 68.1%,
              47.5% 58.3%,
              45.2% 34.5%,
              27.5% 76.7%,
              0.1% 64.9%,
              17.9% 100%,
              27.6% 76.8%,
              76.1% 97.7%,
              74.1% 44.1%
            );
          "
        ></div>
      </div>

      <!-- Form Section (Hidden when loading is active) -->
      <div class="flex justify-center items-center h-screen w-full -my-64" *ngIf="!formSubmitted && currentStep < 4">
        <form [formGroup]="learningPlanForm" (ngSubmit)="submitForm()">
          <!-- Step 1: Topic -->
          <div class="flex h-48 flex-col justify-around items-start" *ngIf="currentStep === 1">
            <label class="text-black text-7xl mt-24 mb-16" for="topic">What would you like to learn?</label>
            <input class="large-input bg-transparent text-gray-700 py-8 px-3 w-full text-3xl" type="text" formControlName="topic" placeholder="Enter a topic (e.g., Kubernetes)" />
            <!-- Validation message -->
            <div *ngIf="learningPlanForm.get('topic')?.invalid && learningPlanForm.get('topic')?.touched" class="text-red-500">Topic is required.</div>
            <button type="button" class="bg-white text-xl mt-10 hover:bg-indigo-50 text-gray-800 font-semibold py-4 px-24 border border-gray-400 rounded shadow self-center" (click)="nextStep()">Next</button>
          </div>

          <!-- Step 2: Level -->
          <div class="flex h-48 flex-col justify-around items-start" *ngIf="currentStep === 2">
            <label class="text-black text-7xl mt-24 mb-16" for="level">What is your proficiency at this topic?</label>
            <select formControlName="level" class="large-input bg-transparent text-gray-700 py-8 px-3 w-full text-3xl">
              <option value="" disabled>Choose a level</option>
              <option value="Beginner">Beginner</option>
              <option value="Junior">Junior</option>
              <option value="Intermediate">Intermediate</option>
              <option value="Advanced">Advanced</option>
            </select>
            <!-- Validation message -->
            <div *ngIf="learningPlanForm.get('level')?.invalid && learningPlanForm.get('level')?.touched" class="text-red-500">Level is required.</div>
            <button type="button" class="bg-white text-xl mt-10 hover:bg-indigo-50 text-gray-800 font-semibold py-4 px-24 border border-gray-400 rounded shadow self-center" (click)="nextStep()">Next</button>
          </div>

          <!-- Step 3: Learning Style -->
          <div class="flex h-48 flex-col justify-around items-start" *ngIf="currentStep === 3">
            <label class="text-black text-7xl mt-24 mb-16" for="learning_style">How would you like to learn?</label>
            <select formControlName="learning_style" class="large-input bg-transparent text-gray-700 py-8 px-3 w-full text-3xl">
              <option value="" disabled>Choose a learning style</option>
              <option value="Visual">Visual (Watching Videos)</option>
              <option value="Auditory">Auditory (Listening Podcast etc.)</option>
              <option value="Reading">Reading (Read Articles)</option>
              <option value="Writing">Writing (Hands-on Practice)</option>
            </select>
            <!-- Validation message -->
            <div *ngIf="learningPlanForm.get('learning_style')?.invalid && learningPlanForm.get('learning_style')?.touched" class="text-red-500">Learning style is required.</div>
            <button type="submit" class="bg-white text-xl mt-10 hover:bg-indigo-50 text-gray-800 font-semibold py-4 px-24 border border-gray-400 rounded shadow self-center">Generate Roadmap</button>
          </div>
        </form>
      </div>

      <!-- Step 4: Loading Screen -->
      <div *ngIf="currentStep === 4" class="flex justify-center items-center fixed inset-0 z-50 bg-black bg-opacity-50">
        <app-loader></app-loader>
        <p class="text-white text-2xl mt-4">This process may take up to 2 minutes...</p>
      </div>

      <!-- Background Decoration -->
      <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
        <div
          class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
          style="
            clip-path: polygon(
              74.1% 44.1%,
              100% 61.6%,
              97.5% 26.9%,
              85.5% 0.1%,
              80.7% 2%,
              72.5% 32.5%,
              60.2% 62.4%,
              52.4% 68.1%,
              47.5% 58.3%,
              45.2% 34.5%,
              27.5% 76.7%,
              0.1% 64.9%,
              17.9% 100%,
              27.6% 76.8%,
              76.1% 97.7%,
              74.1% 44.1%
            );
          "
        ></div>
      </div>
    </div>
  </div>
</div>
