<div class="content-wrapper">
  <div class="flex gap-3 overflow-hidden">
    <div aria-label="Card" class="card card-bordered bg-base-100">
      <div class="card-body">
        <div class="card-title">{{ roadmap?.topic }} RoadMap for {{ getWeekKeys().length }} weeks</div>
        <div class="mt-1 space-y-1 overflow-auto">
          <!-- Start: Default Timeline -->

          <ul *ngIf="getWeekKeys().length > 0" class="timeline timeline-vertical">
            <li *ngFor="let weekKey of getWeekKeys()" (click)="selectWeek(weekKey)">
              <div class="timeline-start timeline-box">{{ weekKey }}</div>
              <div class="timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="text-primary h-5 w-5">
                  <path
                    fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <hr class="bg-primary" />
            </li>
          </ul>

          <!-- End: Default Timeline -->
        </div>
      </div>
    </div>
    <div aria-label="Card" class="card card-bordered bg-base-100 w-full shrink-[2]">
      <div class="card-body">
        <div *ngIf="selectedWeek" class="card-title">{{ selectedWeek?.activity }}</div>
        <div class="mt-1 space-y-1 overflow-auto" *ngIf="selectedWeek">
          <p><strong>Description:</strong> {{ selectedWeek?.description }}</p>
          <div *ngIf="selectedWeek?.resources.length > 0">
            <h4>Resources:</h4>
            <ul>
              <li *ngFor="let resource of selectedWeek.resources">
                <a [href]="resource.link" target="_blank">{{ resource.description }}</a> - Types: {{ resource.learningType.join(', ') }}
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="!selectedWeek">
          <p>Select a week to see details.</p>
        </div>
      </div>
    </div>
  </div>
</div>
