<div role="navigation" aria-label="Navbar" class="topbar-wrapper navbar z-10 border-b border-base-200 px-3">
  <div class="navbar-start gap-3">
    <button aria-label="Search button" onclick="search_modal.showModal()" class="btn btn-circle btn-outline btn-sm flex border-base-content/20 hover:border-transparent hover:bg-base-content/20 sm:hidden">
      <iconify-icon icon="lucide:search" height="16" class="text-base-content/60"></iconify-icon>
    </button>
  </div>
  <div class="navbar-center"></div>
  <div class="navbar-end gap-1.5">
    <div class="dropdown dropdown-end dropdown-bottom">
      <label tabindex="0" class="btn btn-ghost rounded-btn px-1.5 hover:bg-base-content/20">
        <div class="flex items-center gap-2">
          <div aria-label="Avatar photo" class="avatar">
            <div class="mask mask-squircle" style="width: 30px; height: 30px">
              <img src="/assets/images/avatars/1.png" alt="Avatar" />
            </div>
          </div>
          <div class="flex flex-col items-start">
            <p class="text-sm/none">Deep</p>
            <p class="mt-1 text-xs/none text-primary">Edit</p>
          </div>
        </div>
      </label>
      <ul tabindex="0" class="menu dropdown-content mt-4 w-52 rounded-box bg-base-100 p-2 shadow" role="menu">
        <hr class="-mx-2 my-1 border-base-content/10" />
        <li (click)="logout()" class="text-error">
          <iconify-icon icon="lucide:log-out" height="16"></iconify-icon>
          Logout
        </li>
      </ul>
    </div>

    <!--  End: Profile With Action Item -->
  </div>
</div>
